.loginContainer {
    background-color: var(--blue);
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
}

.loginContainer > img {
    width: 90vw;
    height: 90vh;
    position: relative;
    left: -70px;
}

.loginContainer > div {
  width: 70%;
}

.loginForm {
  margin-top: 150px;
}

.loginForm > img {
    width: 250px;
    height: auto;
    margin-bottom: 50px;
}
.loginForm h1 {
    color: var(--white);
    margin-bottom: 5rem;
}

button.github {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  background-color: transparent;
  border: none;
  transition: filter 0.2s;
}

button.github img {
  margin-right: 15px;
}

button.github p {
  color: var(--text-highlight);
}

button.github:hover {
  filter: brightness(2)
}

.loginForm form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loginForm label {
  background-image: linear-gradient(90deg, var(--blue-dark) 30% , var(--blue)); 
  border-radius: 5px 0 0 5px;
  height: 5rem;
  display: flex;
}

.loginForm input {
  background-color: transparent;
  border: none;
  color: var(--white);
  padding-left: 30px;
}

.loginForm input::placeholder {
  color: var(--text-highlight);
}

.loginForm label button {

  border-radius: 0 5px 5px 0;
  border: none;
  width: 75px;

  background-color: var(--blue-dark);
  transition: background 0.2s;

}

.loginForm label button:hover {
  background-color: var(--green);

}

.loginForm label button img{
  width: 24px;
  height: 24px;
}

