/* = = CONTAINER = = = */

.container {
  display: flex;
  width: 100vw;
  height: 100vh;

  background-color: var(--blue);
}

/* = = CONTENT = = */

.content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.content > img {
  width: 50vw;
}

/* = = MAIN = = */

.main {
  width: 50vw;

  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  margin: auto 0;
}

.main > img {
  width: 30vw;
  margin-bottom: 10vh;
}

.main > h1 {
  font-size: 7vh;
  color: var(--white);
  margin-bottom: 3vw;
}

.main > p {
  font-size: 3vh;
  color: var(--white);
  margin-bottom: 2vh;
}

/* = = FORM = = */

.form {  
  margin-bottom: 4vh;
}

.form label {
  display: flex;
  height: 12vh;
  width: 33vw;

  border-radius: 5px 0 0 5px;
  background-image: linear-gradient(90deg, var(--blue-dark), var(--blue));
}

.form input {  
  font-size: 3vh;
  width: calc(100% - 5rem);
  padding-left: 2.5vw;
  color: var(--white);
}

.form input,
.form button {
  border: none;
  background-color: transparent;
}

.form input::placeholder {
  color: var(--text-highlight);
}

.form button {
  border-radius: 0 5px 5px 0;
  width: 5rem;

  background-color: var(--blue-dark);
}

.form button:hover {
  background-color: var(--green);
}


/* = = GITHUB = = */

.github {
  display: flex;
  align-items: center;
  
  /* width: 24rem; */
  width: 33vw;
  height: 5em;
  border: none;
 
  background: transparent;
  text-align: left;
}



.github img {
  width: 3rem;
  height: 3rem;
  margin-right: 15px;
  
  background-position: center;
}

.github p {

  font-size: 2vh;
  color: var(--text-highlight);
}

.github:hover {
  filter: brightness(2);
}

/* = = MOBILE = = */

@media (max-width: 500px) {

  .content > img {
    display: none;
  }

  .main {
    width: 100vw;
    padding: 0 20%;
    margin: auto 0;
  }
  

  .main > img {
    width: 50vw;
    margin-bottom: 10vh;
  }
  
  .main h1 {
    margin: 0;
    margin-bottom: 5vh;

    font-size: 1.5rem;
  }
  
  .main > p {
    margin: 0;
    margin-bottom: 5vh;

    font-size: 1rem;
  }
  
  .form {  
    margin: 0;
    margin-bottom: 5vh;
  }
  
  .form label {
    width: 100%;
    height: 4rem;
    flex: 1;
    margin: 0;
  }  

  .form input {
    width: 100%;
    margin: 0;

    margin-left: 1rem;
  }
  
  .form input::placeholder {
    font-size: .9rem;
  }

  .github {
    width: 75%;
    height:3em;    
    margin: 0;

    text-align: left;
  }
  
  .github img {
    width: 2.5rem;
    height: 2.5rem;
   }
  
  .github p { 
    font-size: 1rem;

  }    
}