/* = = CONTAINER = = = */

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  
  background-color: var(--blue);
}

.container > img {
  width: 50vw;
}

/* = = MAIN = = */

.main {

  width: 50vw;


  display: flex;
  flex-direction: column;


  flex: 1;
  padding-left: 5rem;
  margin: auto;
}

.main > img {
  width: 25vw;
  margin-bottom: 5rem;
}

.main > h1 {
  font-size: 3rem;
  color: var(--white);
  margin-bottom: 3rem;
}

.main > p {
  font-size: 1.5rem;
  color: var(--white);
  margin-bottom: 1rem;
}

/* = = FORM = = */

.form {  
  margin-bottom: 2rem;
}

.form label {

  display: flex;

  height: 5rem;

  max-width: 20vw;

  border-radius: 5px 0 0 5px;
  background-image: linear-gradient(90deg, var(--blue-dark), var(--blue));

}

.form input {  
  width: calc(100% - 5rem);
  margin-left: 2rem;
  color: var(--white);
}

.form input,
.form button {
  border: none;
  background-color: transparent;
}

.form input::placeholder {
  color: var(--text-highlight);
}

.form button {
  border-radius: 0 5px 5px 0;
  width: 5rem;

  background-color: var(--blue-dark);
}

.form button:hover {
  background-color: var(--green);
}


/* = = GITHUB = = */

.github {
  display: flex;
  align-items: center;
  
  width: 24rem;
  height: 5em;
  border: none;

  text-align: left;
  
  background: transparent;
  
}

.github img {
  width: 3rem;
  height: 3rem;
  margin-right: 15px;
  
  background-position: center;
}

.github p {
  margin-top: 15px;

  font-size: 1.5rem;
  color: var(--text-highlight);
}

.github:hover {
  filter: brightness(2);
}


@media (max-width: 1500px) {

  .main > img {
    width: 20vw;
    margin-bottom: 3rem;
  }
  
  .main h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .main > p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .form {  
    margin-bottom: 1rem;
  }
  
  .form label {
    height: 4rem;
    max-width: 25vw;  
  }
  
  .form input {  
    margin-left: 1.5rem;
  }
  
  .form input::placeholder {
    font-size: .9rem;
  }

  .github {
    width: 15rem;
    height: 5em;    
  }
  
  .github img {
    width: 2.5rem;
    height: 2.5rem;
   }
  
  .github p {
    margin-bottom: 15px;
  
    font-size: 1rem;
  }    
}

@media (max-width: 1000px) {

  .container > img {
    width: 100%;
  }
  
  .main {
    position: absolute;
    width: 50vw;
    margin: 0 25vw;
    
  }

  .main > img {
    width: 20vw;
    margin-bottom: 3rem;
  }
  
  .main h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .main > p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .form {  
    margin-bottom: 1rem;
  }
  
  .form label {
    height: 4rem;
    max-width: 25vw;  
  }
  
  .form input {  
    margin-left: 1.5rem;
  }
  
  .form input::placeholder {
    font-size: .9rem;
  }

  .github {
    width: 15rem;
    height: 5em;    
  }
  
  .github img {
    width: 2.5rem;
    height: 2.5rem;
   }
  
  .github p {
    margin-bottom: 15px;
  
    font-size: 1rem;
  }    
}